<link rel="stylesheet" href="{{AppSubUrl}}/assets/custom/dc/prism-gitea.css">
<script defer src="{{AppSubUrl}}/assets/custom/dc/prism-core.min.js"></script>
<script defer src="{{AppSubUrl}}/assets/custom/dc/grammar.js"></script>
<script defer src="{{AppSubUrl}}/assets/custom/dc/gitea-hook.js"></script>
