**
!package.json
!LICENSE
!readme.md
!language-configuration.json
!language-configuration-dcc-dir.json
!language-configuration-dcc-test.json
!syntaxes/*.tmLanguage.json
!out/extension.js
!out/terminateProcess.sh
!out/THIRD_PARTY_NOTICES.txt
